body {
    background: black 0% 0% no-repeat padding-box;
    background-image: url("layouts/intermissionMaze.png");
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    opacity: 1;
}

.team {
    /* Master transform properties for Team Names */
    position: absolute;
    text-transform: capitalize;
    color: white;
    font: 66.5px Impact;
    top: 784px;
    width: 850px;
    text-align: center;
    visibility: hidden;
}

#team1Name {
    left: 234px;
}

#team2Name {
    left: 740px;
}

.teamImage {
    position: absolute;
    border: 0;
    width: 210px;
    height: 223px;
    top: 405px;
}

#team1Image {
    left: 476px;
}

#team2Image {
    left: 732px;
}

#team1 {
    /* Score for Team 1 */
    left: 523px;
}

#team2 {
    /* Score for Team 2 */
    left: 779px;
}

.score {
    /* Master transform properties for Team Names */
    width: 116px;
    height: 97px;
    top: 628px;
    position: absolute;
    text-align: center;
    font: normal normal bold 83px/100px Trebuchet MS;
    letter-spacing: 0.83px;
    color: #FFFFFF;
    opacity: 1;
}